<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
   <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></P>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br /></p>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  </br>

  <div class="field">
    <%= f.label :password_confirmation %>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>
  
  
  </br>
  
  <div class="field">
    <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %></p>
  </div>

  <div class="actions">
    <p><%= f.submit "Update",:class => "w3-button w3-black w3-section" %></p>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p><b>Unhappy?</b> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,:class => "w3-button w3-black w3-section" %></p>

<%= link_to "Back", :back, :class => "w3-button w3-black w3-section" %>
