<h2>You Searched Our Product Catalog For <%= @search_term %></h2>

<% if @items.length == 0  %>
<br />
<h2>No products were found to match your search</h2>
<% end %>


<table class="catalog">
  <% @items.each do |item| %>
      <tr>
        <td>
          <div class="image">
            <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
          </div>
          <div class="title">
            <%= link_to item.title, item %>
          </div>
          <div class="description">
            <%= item.description %>
          </div>  
          <div class="price">
             <%= number_to_currency(item.price, :unit => "€") %>
          </div>
          <div class="links">
            <% if user_signed_in? %>
              <%= link_to 'Show',  item, :class => "w3-button w3-black w3-section", :role => "button" %>
              
              
              <% if current_user.admin %>
              
                <%= link_to 'Edit', edit_item_path(item),:class => "w3-button w3-black w3-section" %>
                <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' },:class => "w3-button w3-black w3-section" %>
            
              <% end %>
            
              <a href="/cart/<%= item.id %>"class = "w3-button w3-black w3-section">Add to Cart</a>
              <% else %>
              <%= link_to 'Show',  item, :class => "w3-button w3-black w3-section", :role => "button" %>
              <a href="/cart/<%= item.id %>"class = "w3-button w3-black w3-section">Add to Cart</a>
              
              
            <%end%>
            <%= link_to 'Back', items_path,:class => "w3-button w3-black w3-section" %>
        </div>
        </td>
      </tr>
    <% end %>
</table>
