




<!DOCTYPE html>
<html>
  <head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

 
    <title>PrintShop!!</title>
    <%= csrf_meta_tags %>

    
  </head>




<body>








<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button">PrintShop</a>
      <div class="w3-right w3-hide-small">
      
      <%= link_to "HOME", "/", :class => "w3-bar-item w3-button" %>
      <%= link_to "PRODUCTS", "/items", :class => "w3-bar-item w3-button" %>
      <%= link_to "ABOUT", about_path, :class => "w3-bar-item w3-button" %>
      <%= link_to "HELP",help_path, :class => "w3-bar-item w3-button" %>
      <%= link_to "ALL USERS", "/allusers", :class => "w3-bar-item w3-button" %>
      <%= link_to "VIEW ORDERS", orders_path, :class => "w3-bar-item w3-button"  %>
      
        <% if user_signed_in? %>
          <a href="#", class ="w3-bar-item w3-button">WELCOME :)</a>
                 
                  <%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete,:class =>"w3-bar-item w3-button" %>
                  <%= link_to 'EDIT PROFILE', edit_user_registration_path ,:class =>"w3-bar-item w3-button" %></li>
                  
          <% else %>
                 <%= link_to 'REGISTER', new_user_registration_path ,:class =>"w3-bar-item w3-button" %> 
                 <%= link_to 'SIGN IN', new_user_session_path ,:class =>"w3-bar-item w3-button" %>
          <% end %>
        
        
        
        <% if user_signed_in? %>
          <% cart =  session[:cart] || {} %>
          <% total = 0 %>
          <% cart.each do |id, quantity| %>
            <% total += Item.find_by_id(id).price * quantity %>
          <% end %>
          <% if total != 0 %>
              <%=  link_to "CART € #{total}", "/cart",:class =>"w3-bar-item w3-button"   %>
          <% else %>
              <%= link_to "CART", "/cart",:class =>"w3-bar-item w3-button" %>
          <% end %>
        <% else %>
         <%= link_to "CART", "/cart",:class =>"w3-bar-item w3-button" %>
        <% end %>
      
    </div>
    
  </div>
  
</div>

<div class = "container">
  <%=render 'layouts/search'%>
  <%= yield %>
</div>
<footer class="w3-center w3-black w3-padding-16">

</footer>
</body>
</html>
 






